/* main */
body,
main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-1200, 120px);
}

/* DESKTOP */

@media (max-width: 1440px) {}

/* SMALL DESKTOP */

@media (max-width: 1170px) {}

/* TABLET */

@media (max-width: 768px) {

  body,
  main {
    gap: 100px;
  }
}

/* MOBILE */

@media (max-width: 375px) {

  body,
  main {
    gap: var(--spacing-800, 64px);
  }
}