/* container */
.features-container {
  width: var(--container-width);
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-1000, 80px);
}

/* image */
.features-img {
  width: 560px;
  border-radius: 20px;
}

/* features list */
.features-text {
  width: 530px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 34px;
}

.features-list {
  display: flex;
  width: 431px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.feature-item {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

/* SMALL DESKTOP */
@media (max-width: 1170px) {}


/* TABLET */
@media (max-width: 768px) {

  /* container */
  .features-container {
    flex-direction: column;
    flex-flow: column-reverse;
    align-items: flex-start;
    gap: var(--spacing-1000, 80px);
  }

  /* image */
  .features-img {
    width: var(--container-width);
  }

  /* features list */
  .features-list {
    width: var(--container-width);
  }

  .features-text h2 {
    width: 625px;
  }
}

/* MOBILE */
@media (max-width: 375px) {
  .features-text h2 {
    width: 343px;
  }
}