/* header */
header {
  /* layout */
  width: 100vw;
  height: auto;
}

.header-background {
  width: 100%;
  height: 100%;
  background-color: #FAF5F3;
  background-image: url(../../icons/pattern-light-bg.svg);
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* container */
.header-container {
  width: var(--container-width);
  max-width: 1174px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: var(--spacing-1000, 80px);
  padding-top: 32px;
  padding-bottom: 80px;
}

/* hero */
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-800, 64px);
  width: 100%;
}

/* content */
.hero-content {
  display: flex;
  width: calc((570 / 1440) * 100vw);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-400, 32px);
}

/* text */
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-300, 24px);
  align-self: stretch;
}

/* image */
.hero-img {
  width: 540px;
  border-radius: 8px;
  z-index: 2;
}

/* SMALL DESKTOP */

@media (max-width: 1170px) {}

/* TABLET */
@media (max-width: 768px) {

  .hero {
    flex-direction: column;
  }

  .hero-content {
    width: var(--container-width);
  }

  .hero-img {
    width: var(--container-width);
  }
}

/* MOBILE */
@media (max-width: 375px) {}