/* header */
header {
  height: 820px;
  width: 100vw;
  background-color: #FAF5F3;
  background-image: url(../../icons/pattern-dark-bg.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 32px;
  padding-bottom: 80px;
}

.header-container {
  width: 1170px;
  display: flex;
  align-items: center;
  gap: var(--spacing-800, 64px);
}

/* navbar */
.header-logo {
  width: 190px;
  height: 36px;
  margin-bottom: var(--spacing-1000);
}

/* header left */
.header-left {
  width: 570px;
  height: 491px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-300, 24px);
  align-self: stretch;
  margin-bottom: var(--spacing-400);
}

.header-cta {
  margin-bottom: var(--spacing-250);
}

/* header testimonials */
.header-testimonials {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-150);
}

.header-avatars {
  width: 110px;
  height: 40px;
}

/* header rating */
.header-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-050, 4px);
}

.stars-container {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-0);
}

/* header right */
.header-right {
  width: 540px;
  height: 606px;
  background-image: url(../../images/image-hero-desktop.webp);
  background-size: cover;
  border-radius: 8px;
}

.header-img {
  width: 912.393px;
  height: 607px;
}

/* header-pattern-glow */

.header-pattern-glow {
  /* layout */
  width: 684px;
  height: 684px;
  /* position */
  position: absolute;
  right: -300px;
  bottom: -200px;
}