/* container */
.technologies-container {
  width: var(--container-width);
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-1000, 80px);
  position: relative;
}

/* text */
.technologies-text {
  display: flex;
  width: 530px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.highlight {
  position: relative;
  /* creates positioning context */
  display: inline-block;
  /* ensures span can hold positioned elements */
}

.highlight::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-0.9em);
  width: 158px;
  aspect-ratio: 1;
  background-color: #FEA36F;
  -webkit-mask: url("../../icons/pattern-circle.png") no-repeat center / contain;
  mask: url("../../icons/pattern-circle.png") no-repeat center / contain;
}

/* image */
.technologies-img {
  width: 560px;
  border-radius: 20px;
}

/* logos tech */
.logos-tech {
  position: absolute;
  top: 80%;
  left: 50.5%;
  transform: translateX(-50%) translateY(-50%);
}

/* TABLET */
@media (max-width: 768px) {

  /* container */
  .technologies-container {
    flex-direction: column;
    gap: var(--spacing-500, 40px);
  }

  /* text */
  .technologies-text {
    width: var(--container-width);
  }

  .technologies-text h2 {
    width: calc((543 / 768) * 100vw);
  }

  /* image */
  .technologies-img {
    width: var(--container-width);
  }

  /* logos tech */
  .logos-tech {
    top: 87%;
    left: 87%;
    transform: translateX(-50%) translateY(-50%);
  }
}

/* MOBILE */
@media (max-width: 375px) {
  .logos-tech {
    display: none;
  }

  .technologies-text h2 {
    width: var(--container-width);
  }

  .highlight::before {
    width: 105px;
  }
}