/* container */
.testimonial-container {
  display: flex;
  width: 970px;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-400, 32px);
}

/* rating */
.testimonial-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-075, 6px);
}

.testimonial-star {
  width: 28px;
  height: 28px;
}

/* content */
.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-400, 32px);
  align-self: stretch;
}

.testimonial-content h3 {
  text-align: center;
}