/* container */
.testimonial-container {
  display: flex;
  width: calc((970 / 1440) * 100vw);
  max-width: 970px;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-400, 32px);
}

/* rating */
.testimonial-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-075, 6px);
}

.testimonial-star {
  width: 28px;
  height: 28px;
}

/* content */
.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-400, 32px);
  align-self: stretch;
}

.testimonial-content h3 {
  text-align: center;
}

/* TABLET */
@media (max-width: 768px) {
  .testimonial-container {
    width: calc((704 / 768) * 100vw);
    align-items: flex-start;
  }

  .testimonial-content {
    align-items: flex-start;
  }

  .testimonial-content h3 {
    text-align: left;
  }
}

/* MOBILE */
@media (max-width: 375px) {}