/* primary */
.btn-primary {
  /* layout */
  display: inline-flex;
  padding: var(--spacing-250, 20px) var(--spacing-300, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200, 16px);
  /* style */
  border-radius: 8px;
  border: 2px solid var(--colors-neutral-900, #062630);
  background: var(--colors-light-salmon-50, #FFF5EF);
  transition: all .3s;
  z-index: 2;
  /* typography */
  font-family: "Martian";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: var(--colors-neutral-900, #062630);
}

.btn-primary:hover {
  background: linear-gradient(90deg, var(--colors-light-salmon-100, #FFE2D1) 0%, var(--colors-light-salmon-50, #FFF5EF) 100%);
}

.btn-primary:focus {
  background: linear-gradient(90deg, var(--colors-light-salmon-100, #FFE2D1) 0%, var(--colors-light-salmon-50, #FFF5EF) 100%);
  box-shadow: 0 0 0 3px #FFF, 0 0 0 5px var(--colors-neutral-700, #385159);
}

/* add a down icon */
.btn-down::after {
  content: "";
  width: 24px;
  /* matches font size */
  aspect-ratio: 1;
  background-color: currentColor;
  /* icon color = text color */
  -webkit-mask: url("../../icons/icon-arrow-down.svg") no-repeat center / contain;
  mask: url("../../icons/icon-arrow-down.svg") no-repeat center / contain;
}

/* add a up icon */
.btn-up::after {
  content: "";
  width: 24px;
  /* matches font size */
  aspect-ratio: 1;
  background-color: currentColor;
  /* icon color = text color */
  -webkit-mask: url("../../icons/icon-arrow-up.svg") no-repeat center / contain;
  mask: url("../../icons/icon-arrow-up.svg") no-repeat center / contain;
}

/* secondary */
.btn-secondary {
  /* layout */
  display: inline-flex;
  padding: var(--spacing-250, 20px) var(--spacing-300, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200, 16px);
  /* style */
  border-radius: 8px;
  border: 2px solid var(--colors-neutral-0, #FFF);
  /* typography */
  font-family: "Martian";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -1px;
  color: var(--colors-neutral-0, #FFF);
}

.btn-secondary:hover {
  background: linear-gradient(90deg, var(--colors-neutral-700, #385159) 0%, var(--colors-neutral-900, #062630) 100%);
}

.btn-secondary:focus {
  box-shadow: 0 0 0 3px var(--colors-neutral-900, #062630), 0 0 0 5px var(--colors-neutral-200, #E6E1DF);
}

/* TABLET */
@media (max-width: 768px) {}

/* MOBILE */
@media (max-width: 375px) {

  .btn-primary,
  .btn-secondary {
    font-size: 15px;
  }
}