/* header */
.pattern-glow {
  /* layout */
  width: 684px;
  height: 684px;
  /* position */
  position: absolute;
  right: -250px;
  bottom: -300px;
}

/* journey */
.journey-pattern-glow {
  /* layout */
  width: 684px;
  height: 684px;
  /* position */
  position: absolute;
  right: -250px;
  bottom: -300px;
}

/* membership */
.card-pattern-glow {
  /* layout */
  width: 684px;
  height: 684px;
  /* position */
  position: absolute;
  right: -100px;
  bottom: -300px;
}

/* TABLET */
@media (max-width: 768px) {
  .journey-pattern-glow {
    right: -250px;
    bottom: -200px;
  }
}

/* MOBILE */
@media (max-width: 375px) {
  .pattern-glow {
    visibility: hidden;
  }

  .journey-pattern-glow {
    right: -200px;
    bottom: -400px;
  }
}